<div class="defaultContent container-fluid">
  <!-- <div class="spacer"></div> -->
  <!-- start slipsum code -->
  <div class="row modalContainer">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary col-xs-12" data-toggle="modal" data-target="#myModal">
      Launch demo modal
    </button>
    <div class="spacer">

    </div>
    <!-- Large modal -->
    <button type="button" class="btn btn-warning col-xs-8" data-toggle="modal" data-target=".bs-example-modal-lg">
      Large modal
    </button>
    <!-- Small modal -->
    <button type="button" class="btn btn-success col-xs-4" data-toggle="modal" data-target=".bs-example-modal-sm">
      Small modal
    </button>
    <div class="spacer">

    </div>
    <button type="button" class="btn btn-danger col-xs-12" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <section class="row">
              <p class="col-lg-8">
                Old World knifefish bleak pelagic cod: banded killifish, peacock flounder, Molly Miller airbreathing catfish northern clingfish; pupfish, jewel tetra speckled trout canary rockfish. Collared dogfish climbing perch, "pompano northern squawfish saber-toothed blenny mud minnow bobtail snipe eel." Lookdown catfish cobbler prickleback Rainbow trout butterfly ray silver hake, toadfish. X-ray tetra piranha Black pickerel deepwater flathead sole Rasbora; ghost carp. Horsefish round stingray triggerfish torrent fish ruffe limia North American darter bluntnose minnow elephant fish rockling--flathead largenose fish flyingfish stream catfish California smoothtongue spotted dogfish. Wormfish poacher alfonsino pencilfish, eelpout cardinalfish grouper cepalin boafish, yellowfin surgeonfish.
              </p>
              <p class="col-lg-4">
                Dragon goby goblin shark slender snipe eel tilefish ribbon eel cobia, pelican eel Pacific saury, Billfish filefish armorhead. Pomfret ilisha flabby whalefish flying gurnard. Saber-toothed blenny; scorpionfish pirate perch nurseryfish, thornyhead largenose fish mora Mexican blind cavefish lightfish, blue eye shell-ear pike conger. Longnose lancetfish tui chub sandbar shark leaffish. Chum salmon barbel deep sea eel. Bass sandperch inanga Redfin perch, "flagblenny mahseer weeverfish galjoen fish bluefin tuna." Golden trout platyfish jellynose fish banded killifish goosefish armored gurnard pike conger desert pupfish long-finned pike blue whiting sawtooth eel trumpeter; dab marlin morid cod. Rockling jewel tetra deep sea smelt bristlenose catfish peacock flounder European perch, grass carp. Rainbowfish African lungfish Canthigaster rostrata flathead flagfin Dolly Varden trout.
              </p>
            </section>
            <hr>
            <section class="row">
              <p class="col-lg-6">
                Dragon goby goblin shark slender snipe eel tilefish ribbon eel cobia, pelican eel Pacific saury, Billfish filefish armorhead. Pomfret ilisha flabby whalefish flying gurnard. Saber-toothed blenny; scorpionfish pirate perch nurseryfish, thornyhead largenose fish mora Mexican blind cavefish lightfish, blue eye shell-ear pike conger. Longnose lancetfish tui chub sandbar shark leaffish. Chum salmon barbel deep sea eel. Bass sandperch inanga Redfin perch, "flagblenny mahseer weeverfish galjoen fish bluefin tuna." Golden trout platyfish jellynose fish banded killifish goosefish armored gurnard pike conger desert pupfish long-finned pike blue whiting sawtooth eel trumpeter; dab marlin morid cod. Rockling jewel tetra deep sea smelt bristlenose catfish peacock flounder European perch, grass carp. Rainbowfish African lungfish Canthigaster rostrata flathead flagfin Dolly Varden trout.
              </p>
              <p class="col-lg-6">
                Dorado plownose chimaera goldfish pelican eel delta smelt sheepshead; queen parrotfish. Parasitic catfish sleeper, Long-finned sand diver southern hake dragon goby; goldspotted killifish northern lampfish char orbicular batfish Atlantic saury. River stingray; driftfish lighthousefish torrent fish hairtail Atlantic cod coffinfish sawtooth eel roach coley manefish yellowtail--lyretail, saw shark deep sea anglerfish Black triggerfish. Bigmouth buffalo southern sandfish ghost flathead staghorn sculpin; ling trench pomfret, "rough scad, sand knifefish taimen."
              </p>
            </section>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Large Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title">My Tuna Fish</h1>
          </div>
          <div class="modal-body row">
            <p class="col-xs-12">
              Tadpole cod, lampfish saber-toothed blenny rohu dottyback cuckoo wrasse sprat, Indian mul knifejaw rock bass jewfish yellow weaver sheepshead bighead carp mosshead warbonnet. Walleye nurseryfish salamanderfish spotted danio slender snipe eel Sacramento blackfish snipefish monkfish nurse shark, "salamanderfish golden shiner Blobfish tubeshoulder." Rough sculpin, "gulper eel, combtail gourami oldwife South American darter tiger shovelnose catfish dorado barb." Blue danio bichir loach goby; muskellunge shad telescopefish--mosquitofish morid cod, "whitebait Atlantic eel."
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Small Modal -->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title">Sardines</h1>
          </div>
          <div class="modal-body row">
            <p class="col-xs-12">
              Long-whiskered catfish common tunny tilefish desert pupfish zebra pleco yellowfin croaker sardine stoneroller minnow tripletail staghorn sculpin. Nurse shark cuchia goldeye elephantnose fish elephant fish!            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- @bootstrap modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">New message</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="control-label">Recipient:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="message-text" class="control-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send message</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row cardContainer">
      <div class="col-lg-4 col-md-12 col-sm-12 cards">
      <h3>Uuummmm, this is a tasty burger!</h3>
      <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb. </p>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 cards">
      <h3>Uuummmm, this is a tasty burger!</h3>
      <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb. </p>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 cards">
      <h3>Uuummmm, this is a tasty burger!</h3>
      <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb. </p>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 cards">
      <h3>Uuummmm, this is a tasty burger!</h3>
      <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb. </p>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 cards">
      <h3>Uuummmm, this is a tasty burger!</h3>
      <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb. </p>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 cards">
      <h3>Uuummmm, this is a tasty burger!</h3>
      <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb. </p>
    </div>
  </div>
  <div class="row tblContainer">
    <br><br><br>
    <h1 style="text-align: center;">Our Table</h1>
    <table class="table">
      <colgroup span="5"></colgroup>
      <tr>
        <th>University</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Sport</th>
      </tr>
      <tr class="active">
        <td class="">Purdue University- Lafayette</td>
        <td class="">sad</td>
        <td class="">sad</td>
        <td class="">sad</td>
        <td class="">sad</td>
      </tr>
      <tr class="success">
        <td class="">Indiana University- Bloomington</td>
        <td class="">Bloomington</td>
        <td class="">Indiana</td>
        <td class="">United States</td>
        <td class="">Basketball</td>
      </tr>
      <tr class="warning">
        <td class="">UCLA</td>
        <td class="">sad</td>
        <td class="">sad</td>
        <td class="">sad</td>
        <td class="">sad</td>
      </tr>
      <tr class="danger">
        <td class="">Duke University</td>
        <td class="">sad</td>
        <td class="">sad</td>
        <td class="">sad</td>
        <td class="">sad</td>
      </tr>
      <tr class="info">
        <td class="">Butler University</td>
        <td class="">sad</td>
        <td class="">sad</td>
        <td class="">sad</td>
        <td class="">sad</td>
      </tr>
    </table>
    <div class="spacer">

    </div>
    <table class="table">
      <colgroup span="4"></colgroup>
      <tr>
        <th>Countries</th>
        <th>Capitals</th>
        <th>Population</th>
        <th>Language</th>
      </tr>
      <tr>
        <td>USA</td>
        <td>Washington D.C.</td>
        <td>309 million</td>
        <td>English</td>
      </tr>
      <tr>
        <td>Sweden</td>
        <td>Stockholm</td>
        <td>9 million</td>
        <td>Swedish</td>
      </tr>
    </table>
  </div>
  <div class="spacer"></div>
  <div id="animation-container" class="row">
    <h1 id="animate">animate me, sir</h1>
    <div id="just-some-break-tags-throwaway-immediately">
      <br><br><br>
    </div>
    <div class="col-12-lg col-xs-12">
      <button type="button" name="button" class="col-lg-2 col-md-12 col-xs-12 btn btn-success" id="animate-btn">Animate</button>
      <div class="col-lg-10 col-md-12 col-xs-12">
        <h2 class="animateTxt">Growth</h2>
        <p class="animateTxt">
          Watch me grow into a beautifully, complete element.
        </p>
      </div>
    </div>
    <div class="col-12-lg col-xs-12">
      <div class="gearRight gear">

      </div>
      <div class="gearLeft gear">

      </div>
    </div>
  </div>
</div>
