<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/css/style.css' />
  </head>
  <body class="container-fluid">
    <header class="header">
      <ol>
        <li id="logo">
          <a href="#" id="ncaa-logo"></a>
        </li>
        <li class="headerLis" id="app-name">APP NAME</li>
        <li class="headerLis" id="user-portal">
          <span><a href="#">Sign Up</a> | <a href="#">Sign In</a></span>
          <input type="search" name="name" placeholder="Search">
        </li>
      </ol>
      <nav class="nav" role="navigation">
        <a href="#">this</a>
        <a href="#">is</a>
        <a href="#">our</a>
        <a href="#">navi</a>
        <a href="#">gation</a>
        <!-- or -->
        <!-- <ul>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li>
            <ul>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </li>
          <li><a href="#"></a></li>
        </ul> -->
      </nav>
    </header>
    {{{body}}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
