/* The Colour Palette
* Below the intial palette,
* there is space to include
* special colours. */
/*
$colourOne: rgba(#000, 1);
$colourTwo: rgba(#000, 1);
$colourThree: rgba(#000, 1);
$colourFour: rgba(#000, 1);
$colourFive: rgba(#000, 1);*/
html {
  width: 100%;
  height: 100%; }

body {
  background: url("../../images/hero6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 !important;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100; }
  body header {
    width: 100%;
    background: black;
    height: 25%;
    -webkit-box-shadow: 0px 1px 3px 2.5px rgba(82, 82, 82, 0.65);
    -moz-box-shadow: 0px 1px 3px 2.5px rgba(82, 82, 82, 0.65);
    box-shadow: 0px 1px 3px 2.5px rgba(82, 82, 82, 0.65);
    z-index: 99;
    position: absolute; }
    body header ol {
      display: block;
      margin: 0 !important;
      list-style: none;
      width: 100%;
      height: 75%;
      padding: 10px 0;
      padding-right: 5%; }
      body header ol li {
        display: block;
        width: 40%;
        height: 35%;
        float: right;
        margin-top: 1em;
        clear: right;
        text-align: center; }
      body header ol #app-name {
        font-size: 2em;
        margin: 0;
        width: 60%;
        text-align: right;
        padding: 0; }
      body header ol .headerLis {
        padding: 10px;
        color: white; }
      body header ol #user-portal .userBtns {
        padding: 0;
        border: none;
        background: transparent;
        margin-bottom: 10px; }
      body header ol #user-portal input {
        border: 1px solid white;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 1.5px; }
      body header ol #user-portal input:last-child {
        padding-left: 7.5px;
        padding-right: 0;
        background: rgba(255, 255, 255, 0.35); }
        body header ol #user-portal input:last-child:focus {
          background: rgba(255, 255, 255, 0.5); }
      body header ol #logo {
        width: auto;
        height: 95%;
        float: left;
        margin: 0;
        display: block;
        background: none;
        padding-left: 10%; }
        body header ol #logo #ncaa-logo {
          width: 15vw;
          height: 100%;
          background-image: url("../../images/logo.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          color: white;
          display: block; }
    body header .active > a {
      background-color: rgba(0, 125, 193, 0.5) !important; }
      body header .active > a:hover {
        background-color: rgba(0, 125, 193, 0.65) !important; }
    body header nav {
      padding: 0 5%;
      background: black !important;
      border: none !important;
      border-radius: 0 !important; }
      body header nav a {
        padding: 1vw 2.5vw;
        -webkit-transition: all 100ms linear;
        -moz-transition: all 100ms linear;
        -ms-transition: all 100ms linear;
        -o-transition: all 100ms linear;
        transition: all 100ms linear;
        color: white !important; }
        body header nav a:hover {
          text-decoration: none;
          color: rgba(0, 125, 193, 0.85) !important; }
        body header nav a:active {
          color: rgba(0, 125, 193, 0.99) !important; }
      body header nav .dropdown {
        color: transparent !important; }
        body header nav .dropdown li a {
          color: grey !important; }
      body header nav .open {
        background: transparent !important; }
        body header nav .open a {
          background: transparent !important; }
      body header nav .open > a:focus, body header nav .open > a:hover, body header nav .open > a:default {
        background: rgba(0, 125, 193, 0) !important; }
  body h1 {
    color: #007dc1; }
  body .spacer {
    height: 25.25%;
    width: 100%;
    display: block; }
  body .defaultContent {
    background-color: rgba(245, 245, 245, 0.85);
    height: 74.25%;
    border-top: 0;
    border-bottom: 0;
    overflow-y: auto;
    -webkit-box-shadow: 0px 7.5px 10px 2.5px rgba(31, 31, 31, 0.3);
    -moz-box-shadow: 0px 7.5px 10px 2.5px rgba(31, 31, 31, 0.3);
    box-shadow: 0px 7.5px 10px 2.5px rgba(31, 31, 31, 0.3);
    color: #838383;
    position: absolute;
    top: 25.5%;
    padding-top: 2.5%; }
    body .defaultContent .modalContainer {
      height: 50%; }
      body .defaultContent .modalContainer .modal {
        padding: 0 !important; }
    body .defaultContent .cardContainer {
      box-sizing: border-box; }
    body .defaultContent .tblContainer {
      min-height: 50%;
      text-align: center; }
      body .defaultContent .tblContainer th {
        text-align: center; }
    body .defaultContent #animation-container {
      min-height: 50%;
      padding: 0 20px; }
      body .defaultContent #animation-container .gear {
        background: url("../../../images/logo.png") center no-repeat;
        background-size: 100%;
        width: 100px;
        height: 100px;
        display: inline-block;
        margin: 0 -10px;
        float: right; }
    body .defaultContent .cards {
      background-color: whitesmoke;
      overflow-y: auto;
      text-align: center;
      padding: 2%; }
      body .defaultContent .cards:nth-child(odd) {
        background-color: rgba(229, 229, 229, 0.5); }
      body .defaultContent .cards h3 {
        margin-top: 0; }
      body .defaultContent .cards p {
        width: 70%;
        color: #007dc1;
        margin: 0 auto; }
