/* The Colour Palette
* Below the intial palette,
* there is space to include
* special colours. */
/*
$colourOne: rgba(#000, 1);
$colourTwo: rgba(#000, 1);
$colourThree: rgba(#000, 1);
$colourFour: rgba(#000, 1);
$colourFive: rgba(#000, 1);*/
html {
  width: 100%;
  height: 100%; }

body {
  background: url("../../images/hero6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 !important;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100; }
  body header {
    width: 100%;
    background: black;
    height: 25%;
    -webkit-box-shadow: 0px 1px 3px 2.5px rgba(82, 82, 82, 0.65);
    -moz-box-shadow: 0px 1px 3px 2.5px rgba(82, 82, 82, 0.65);
    box-shadow: 0px 1px 3px 2.5px rgba(82, 82, 82, 0.65);
    z-index: 99999;
    position: fixed; }
    body header ol {
      display: block;
      margin: 0;
      list-style: none;
      width: 100%;
      height: 75%;
      padding: 10px 0;
      padding-right: 10%; }
      body header ol li {
        display: block;
        width: 40%;
        height: 35%;
        float: right;
        margin-top: 1em;
        clear: right;
        text-align: center; }
      body header ol .headerLis {
        padding: 10px;
        color: white; }
        body header ol .headerLis span {
          padding-right: 10px;
          margin-bottom: 10px; }
        body header ol .headerLis input {
          border: 1px solid white;
          padding-left: 5px;
          background: rgba(255, 255, 255, 0.2);
          width: 50%;
          border-radius: 1.5px; }
      body header ol #logo {
        width: auto;
        height: 95%;
        float: left;
        margin: 0;
        display: block;
        background: none;
        padding-left: 10%; }
        body header ol #logo #ncaa-logo {
          width: 15vw;
          height: 100%;
          background-image: url("../../images/logo.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          color: white;
          display: block; }
    body header nav {
      display: block;
      width: 100%;
      height: auto !important;
      text-align: right;
      padding: .65% 0;
      padding-right: 12.5%;
      margin-bottom: 0 !important; }
      body header nav a {
        font-size: 1.5em;
        padding: 1vw 2.5vw;
        color: gainsboro;
        transition: 100ms all linear; }
        body header nav a:hover {
          text-decoration: none;
          color: white; }
  body h1 {
    color: #007dc1; }
  body .spacer {
    height: 25%;
    width: 100%;
    display: block; }
  body .defaultContent {
    background-color: rgba(245, 245, 245, 0.85);
    height: 100%;
    border: 2.5px solid rgba(0, 125, 193, 0.2);
    border-top: 0;
    border-bottom: 0;
    overflow-y: auto;
    -webkit-box-shadow: 0px 7.5px 10px 2.5px rgba(31, 31, 31, 0.3);
    -moz-box-shadow: 0px 7.5px 10px 2.5px rgba(31, 31, 31, 0.3);
    box-shadow: 0px 7.5px 10px 2.5px rgba(31, 31, 31, 0.3);
    color: #838383; }
    body .defaultContent .cardContainer {
      box-sizing: border-box; }
    body .defaultContent .tblContainer {
      min-height: 50%; }
    body .defaultContent .cards {
      background-color: whitesmoke;
      overflow-y: auto;
      text-align: center;
      padding: 2%; }
      body .defaultContent .cards:nth-child(odd) {
        background-color: rgba(229, 229, 229, 0.5);
        -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5); }
      body .defaultContent .cards h3 {
        margin-top: 0; }
      body .defaultContent .cards p {
        width: 70%;
        color: #007dc1;
        margin: 0 auto; }
