@import "./importer/importer.scss";
html{
  width: 100%;
  height: 100%;
}
body {
    // background-color: $lightGrey;
    background: url("../../images/hero6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 !important;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

    header {
        width: 100%;
        background: rgba(#000, 97.5);
        height: 25%;
        -webkit-box-shadow: 0px 1px 3px 2.5px rgba(82,82,82,0.65);
        -moz-box-shadow: 0px 1px 3px 2.5px rgba(82,82,82,0.65);
        box-shadow: 0px 1px 3px 2.5px rgba(82,82,82,0.65);
        z-index: 99;
        position: absolute;



        ol {
            display: block;
            margin: 0 !important;
            list-style: none;
            width: 100%;
            height: 75%;
            padding: 10px 0;
            padding-right: 5%;

            li {
                display: block;
                width: 40%;
                height: 35%;
                float: right;
                margin-top: 1em;
                clear: right;
                text-align: center;
            }
            #app-name{
              font-size: 2em;
              margin: 0;
              width: 60%;
              text-align: right;
              padding: 0;
            }
            .headerLis{
              padding: 10px;
              color: white;

            }
            #user-portal{

              .userBtns{
                padding: 0;
                border: none;
                background: transparent;
                margin-bottom: 10px;
              }
              input{
                border: 1px solid white;
                background: rgba(white, .2);
                border-radius: 1.5px;
              }

              input:last-child{
                padding-left: 7.5px;
                padding-right: 0;
                background: rgba(white, .35);

                &:focus{
                  background: rgba(white, .5);
                }
              }
            }
            #logo {
                width: auto;
                height: 95%;
                float: left;
                margin: 0;
                display: block;
                background: none;
                padding-left: 10%;

                #ncaa-logo {
                    width: 15vw;
                    height: 100%;
                    background-image: url("../../images/logo.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    color: white;
                    display: block;
                }
            }
        }
        .active>a{
          background-color: rgba($logoBlue, .5) !important;

          &:hover{
            background-color: rgba($logoBlue, .65) !important;

          }
        }
        nav {
          padding: 0 5%;
          background: black !important;
          border: none !important;
          border-radius: 0 !important;


            a {
              padding: 1vw 2.5vw;
              @include cstmAllHover(100ms);
              color: white !important;

              &:hover{
                text-decoration: none;
                color: rgba($logoBlue, .85) !important;
              }
              &:active{
                color: rgba($logoBlue, .99) !important;
              }
            }
            .dropdown{
              color: transparent !important;
              li{
                a{
                  color: grey !important;
                }
              }
            }
            .open{
              background: transparent !important;
              a{
                background: transparent !important;
              }
            }
            .open>a:focus, .open>a:hover, .open>a:default{
              background: rgba($logoBlue, 0) !important;
            }
        }
    }
    h1 {
        color: $logoBlue;
    }
    @import "./partials/spacer.scss";
    @import "./partials/defaultContent.scss";
}
