/* The Colour Palette
* Below the intial palette,
* there is space to include
* special colours. */

$logoBlue: rgba(#007dc1, 1);
$lightGrey: rgba(#838383, 1);
//End of NCAA colour palette
//Additional Colours
/*
$colourOne: rgba(#000, 1);
$colourTwo: rgba(#000, 1);
$colourThree: rgba(#000, 1);
$colourFour: rgba(#000, 1);
$colourFive: rgba(#000, 1);*/
//End of Complete Colour Palette
